# Intellij files
.idea/
out/
*.iml

# Gradle files
.gradle/
build/


# Test outputs
*.csv

# Eclipse files
.classpath
.project
.settings/
bin/

# VS Code files
.vscode/

# MacOS system files
.DS_Store
